/* Universal Style*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

	/* Toggle for visual aide */
	/* border: 1px solid red; */
}

body {
	background-color: lightblue
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	color: red;
}

/* Theme from Randoma11y.com */
.alt-theme {
	color: #30ae12;
	background-color: #21204a;
}

/* Header */
header {
	width: 97%;
	margin: 11px;
	box-shadow: 0 0 11px orangered;
}

h1 {
	width: 100%;
	text-align: center;
	padding: 11px;
	margin: 0 auto;
	background-color: black;
	color: orangered;
}

/* Main Section - Introduction */
.intro {
	width: 77%;
	margin: 22px auto;
	border: 11px ridge orange;
	box-shadow: 0 0 22px white;
}

.intro h2 {
	margin: 0;
	padding: 0;
	display: block;
	background-color: rgba(0 0 0 / 0);
}

.intro p {
	padding: 9px;
	font-family: "Roboto Flex", sans-serif;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	padding: 11px;
}

article p {
	text-align: justify;
}

/* Main Section - Grid */
h2 {
    background-color: black;
    color: white;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 7px;
	font-family: "Roboto", sans-serif;
}

h3 {
    font-size: 0.7em;
    font-weight: 300;
    margin: 7px auto;
	background-color: rgba(0, 0, 0, 0.769);
	color: rgb(255, 69, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 88%;
	z-index: 11;
}

h2, h3 {
    text-align: center;
}

.grid {
	background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 13px;
	width: 88%;
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 1fr));
	grid-template-rows: repeat(4, 333px);
	grid-gap: 44px 22px;
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 0 0 22px #444545;
}

.picture-grid {
	display: grid;
	height: 100%;
	grid-template-rows: 1fr 250px 2fr;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 88%;
	height: 100%;
	background-color: rgba(0 0 0 / 0.77);
	color: white;
	opacity: 0;
	transition: .5s ease;
	text-align: center;
	font-size: 0.9em;
}

.container:hover .overlay {
	opacity: 1;
}

img {
	height: 100%;
    width: 88%;
	object-fit: cover;
	box-shadow: 3px 3px 18px yellowgreen;
    margin: 0 auto;
}

/* Footer */
footer {
	width: 97%;
	background-color: black;
	color: orangered;
	font-size: 19px;
	font-weight: 700;
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 7px;
	padding: 11px;
	margin: 22px auto 0;
}

.github {
	display: flex;
	gap: 7px;
	height: 33px;
}

footer img{
	box-shadow: none;
}